<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[%level][%.-24thread][%.+24logger] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="cl.niclabs.scada.acs.multiactivity.compatibility.ACSAnnotationProcessor" level="ERROR" />
    <logger name="cl.niclabs.scada.acs.component.factory.BuildHelper" level="ERROR" />
    <logger name="cl.niclabs.scada.acs.component.controllers.monitoring.events.GCMPAEventListenerImpl" level="ERROR" />
    <logger name="cl.niclabs.scada.acs.component.controllers.monitoring.MonitoringController" level="TRACE" />
    <logger name="cl.niclabs.scada.acs.component.factory.ACSFactory" level="TRACE" />
    <logger name="cl.niclabs.scada.acs.component.ACSManager" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>